
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}


h1{
    background: linear-gradient(0deg, #084096 0%, #074EBD 100%);
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;

    
}

h2 {
    color: #084096;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    
}


.container, .container-login {
    margin: 0 auto;
    width: 90%; 
    padding: 15px;
    background-color: #bbdefb;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}




.debt-table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto; 
    display: block;
    margin: 0 auto; 
}



.debt-table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
    min-width: 320px; 
    
}

.debt-item{
    text-align: center;
}

.debt-account{
    text-align: center;
}



th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap; 
}


th {
    background-color: #fff;
}

footer{
    text-align: center;
}



@media (max-width: 768px) {
    .debt-table {
        overflow-x: auto;
        display: block;
        white-space: nowrap;
        width: 100%;
    }

    .debt-table table {
        width: 100%;
        display: block;
    }

    th, td {
        padding: 5px;
        font-size: 12px;
    }
}




@media (max-width: 480px) {
    .debt-table table {
        font-size: 10px; 
    }

    th, td {
        padding: 4px;
    }
}


button {
    width: 20%;
    padding: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #90caf9;
    color: white;
    transition: background-color 0.3s;
    align-items: center;
}

button:hover {
    background-color: #0d47a1;
}


nav#nav {
    padding: 5px;
}

nav#nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav#nav ul li a {
    display: inline;
    text-decoration: none;
    background-color: #bbdefb;
    color: #000;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav#nav ul li a:hover {
    background-color: #bbedfb;
}



@media (min-width: 768px) {
    .container, .container-login {
        width: 80%;
        padding: 20px;
    }

    nav#nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    table {
        font-size: 14px;
    }
}


@media (min-width: 1024px) {
    .container, .container-login {
        width: 70%;
        max-width: 1200px;
        padding: 30px;
    }
}
